body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body{
  font-family: $font-family-tc;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

.text_highlight {
  color: $color-orange;
  font-weight: bold;
}

.pt80 {
  padding-top: 80px;

  @include mobile{
    padding-top: 140px;
  }
}

body {
  background-color: $color-light;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background: none;
  line-height: 80px;
  z-index: 2;
  transition: all .3s;
  
  &.show_color{
    background: $color-dark;
    box-shadow: 2px 2px 8px $color-dark;
  }
  
  h1 a {
    font-family: $font-family-madimi;
    margin: 0 15px;
    font-size: $font-size-sl;
    color: $color-orange;
  }

  .logo {
    display: inline-block;
    vertical-align: sub;
    height: 60px;
    width: 70px;
    background: url('../img/logo_349x305.png') no-repeat center;
    background-size: contain;
  }

  @include mobile{
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

.nav {
  display: inline-flex;
  flex: 1;
  align-items: center;
  color: $color-dark;
  transition: all .3s;

  &.change_color{
    color: $color-light;
  }

  a {
    position: relative;
    display: block;
    min-width: 85px;
    height: 100%;
    padding: 0 10px;
    color: inherit;
    font-size: $font-size-m;
    font-weight: 500;
    text-align: center;
    

    &::after {
      content: '';
      display: none;
      width: 60px;
      height: 80px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &.nav_dex::after {
      background-image: url('../img/nav_hover_2.png');
    }

    &.nav_product::after {
      background-image: url('../img/nav_hover_1.png');
    }

    &.nav_finding::after {
      background-image: url('../img/nav_hover_3.png');
    }

    &.not_login::after {
      background-image: url('../img/nav_hover_login.png');
    }

    &.not_logout{
      display: inline-block;
      vertical-align: middle;

      &::after {
        background-image: url('../img/nav_hover_logout.png');
      }
    }
      
    &.is_logout{
      display: none;
    }

    &:hover {
      span {
        display: none;
      }

      &::after {
        display: block;
      }
    }

    &.is_login{
      display: inline-block;
      vertical-align: middle;

      &:hover{
        cursor: default;
        
        span {
          display: inline-block;
        }
        
        &::after {
          display: none;
        }
      }
    }

    @include pad{
      min-width: 60px;
    }

    @include mobile{
      line-height: 60px;

      &::after {
        height: 60px;
      }
    }
  }

  .btn_login,
  .btn_logout {
    background: none;
    border: 0;
    cursor: pointer;
  }

  li:nth-child(4) {
    margin-left: auto;
    font-size: 0;
  }

  li:last-child{
    margin-right: 25px;
  }

  @include pad{
    width: 100%;
  }
}

footer {
  padding: 30px 0 0;
  background: $color-dark;
}

.social-media {
  text-align: center;

  li {
    display: inline-block;
    text-align: center;
    color: $color-light;

    +li {
      margin-left: 30px;
    }

    i {
      font-size: $font-size-sl;
    }

    &:hover {
      color: $color-orange;
    }
  }
}

.footer-bot {
  position: relative;
  height: 230px;
  background: url('../img/footer.webp') no-repeat top center;
}

.copyright {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: $font-size-ss;
  color: $color-light;
}

// modal
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000080
}

.modal_content {
  position: relative;
  width: 420px;
  margin: 20% auto;
  padding: 20px;
  background-color: $color-green;
  border-radius: 20px;
  border: none;

  @include mobile{
    width: 300px;
  }
}

.modal_list {
  display: flex;

  li {
    width: 50%;
    padding: 15px 0;
    text-align: center;
    font-size: $font-size-m;
    color: $color-light;
    font-weight: bold;
    border-radius: 20px 20px 0 0;

    &.active {
      color: $color-green;
      background: $color-light;
    }
  }
}

.modal_login,
.modal_register {
  background: $color-light;
  padding: 10px;
  border: none;
  text-align: center;

  >div {
    margin-top: 20px;
  }

  label {
    font-size: $font-size-m;
    color: $color-dark;
  }

  input {
    height: 25px;
    width: 300px;
    padding: 0 15px;
    border: 2px solid $color-dark;
    border-radius: 15px;
    color: $color-dark;

    &:focus {
      border-color: $color-orange;
      outline: 0;
    }

    @include mobile{
      width: 60%;
    }
  }
}

.modal_login{
  border-radius: 0 20px 20px 20px;
}

.modal_register{
  border-radius: 20px 0px 20px 20px;
}

.modal_login_btn,
.modal_register_btn {
  width: 150px;
  height: 35px;
  margin: 20px 0 10px;
  color: $color-green;
  font-size: $font-size-m;
  border: 3px solid $color-green;
  background: none;
  border-radius: 15px;

  &:hover {
    background: $color-green;
    color: $color-light;
  }
}

.register_success,
.register_error,
.login_success,
.login_error{
  display: none;
}

.close {
  position: absolute;
  right: 7px;
  top: 7px;
  color: $color-light;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: $color-orange;
  text-decoration: none;
  cursor: pointer;
}

// cart
#cart{
  position: relative;
  cursor: pointer;
  padding-left: 10px;

  .cart_num{
    position: absolute;
    top: 15px;
    right: -12px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    background: $color-pink;
    border: none;
    border-radius: 50%;
    text-align: center;
    color: $color-light;
  }

  &:hover{
    color: $color-orange;
  }
}

.cart_aside{
  position: fixed;
  top: 0;
  bottom: 0;
  right: -360px;
  width: 350px;
  background: #6f6663;
  box-shadow: 2px 0px 10px $color-dark;
  transition: all .3s;
  z-index: 99;

  &.show{
    right: 0px;
  }

  #cart_close{
    display: block;
    font-size: 25px;
    color: $color-light;
    text-align: right;
    margin: 10px 10px 0 0;
    cursor: pointer;
  }
}

.cart_list{
  height: 70vh;
  overflow-y: auto;
}

.cart_list li{
  position: relative;
  width: 310px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: $color-light;
  font-size: 0;

  feature{
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    background: #000;
    overflow: hidden;

    img{
      width: 100%;
    }
  }

  .cart_txt{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
    height: 80px;
    width: 170px;
    padding-left: 10px;

    h3{
      font-size: $font-size-m +4;
    }

    p{
      font-size: $font-size-m;
    }
  }

  .cart_txt_detail{
    display: flex;
    justify-content: space-between;
  }

  .delete_btn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: $font-size-m +4;
    cursor: pointer;

    &:hover{
      color: $color-orange;
    }
  }
}

.cart_sum{
  padding: 0 20px;
  margin-top: 30px;
  text-align: right;
  font-size: $font-size-m;
  color: $color-light;

  &::before{
    content: '';
    display: block;
    margin-bottom: 10px;
    border-top: $color-orange 1px solid;
  }

  .sum_num{
    font-weight: bold;
    font-size: $font-size-m +2;
  }
}

.no_product{
  text-align: center;
  font-weight: bold;
  font-size: $font-size-m +4;
  color: $color-light;
}

.pay_btn{
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin: 40px auto;
  border: none;
  border-radius: 20px;
  color: $color-light;
  font-weight: bold;
  font-size: $font-size-m;
  background: $color-orange;
  cursor: pointer;

  &:hover{
    background: $color-green;
  }
}