@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

$color-dark: #444140;
$color-light: #FFF3F0;
$color-orange: #faa916;
$color-green: #00916E;
$color-pink: #DA627D;

$font-size-sl: 50px;
$font-size-l: 28px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-ss: 12px;

$font-family-madimi: "Madimi One", sans-serif;