.dex_banner {
  height: 500px;
  margin-top: 80px;
  background-image: url('../img/banner_kobitosdex.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.search_bar {
  width: 80%;
  height: 50px;
  margin: 0 auto 20px;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 8px;
    height: $font-size-m + 22px;
    width: 50px;
    background-image: url('../img/search.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  #search_input {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 65px;
    font-size: $font-size-m;
    line-height: $font-size-m + 20px;
    border-radius: 5px;
    border: 1px solid $color-dark;

    &:focus {
      border: none;
      outline: 2px solid $color-orange;
    }
  }

  #search_btn {
    position: absolute;
    right: 0;
    width: 50px;
    padding: 0 10px;
    border: none;
    background: none;
    cursor: pointer;

    i {
      font-size: $font-size-m;
      line-height: $font-size-m + 20px;
      color: $color-dark;
    }
  }

  @include mobile{
    width: 100%;
  }
}

.dex_category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 50px;

  li {
    position: relative;
    width: 20%;
    padding: 12px 0;
    color: $color-dark;
    font-size: $font-size-s;
    text-align: center;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border: none;
    overflow: hidden;
    transition: all .3s;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      height: 3px;
      background: $color-green;
      transition: all .3s;
      z-index: -1;
    }

    &:hover,
    &.active {
      color: $color-light;

      &::before {
        height: 100%;
      }
    }
  }

  @include mobile{
    width: 100%;

    li{
      font-size: $font-size-ss;
    }
  }
}

.dex_content_list {
  font-size: 0;
  margin-bottom: 30px;

  li {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 19%;
    height: 0;
    margin: 0 0 20px 1.25%;
    padding-bottom: 19%;
    border-radius: 50%;
    border: 3px solid $color-dark;
    overflow: hidden;
    cursor: pointer;

    &:nth-child(5n+1) {
      margin-left: 0;
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    p {
      display: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $color-light;
      text-shadow: 2px 2px 0px $color-dark;
      font-size: 20px;
      font-weight: bold;
      z-index: 1;
    }

    &:hover {
      border-color: $color-orange;

      img {
        width: 300%;
      }

      p {
        display: block;
      }
    }
  
    @include mobile{
      width: 32%;
      padding-bottom: 32%;
      margin: 0 0 20px 2%;

      &:nth-child(5n+1) {
        margin-left: 2%;
      }

      &:nth-child(3n+1) {
        margin-left: 0;
      }
    }
  }
}

.no_result {
  color: $color-dark;
  font-size: $font-size-m;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}