@mixin frame {
  border: 3px solid $color-dark;
  border-radius: 20px;
  background: $color-light;

  @content
}

.alert {
  position: fixed;
  right: 30px;
  bottom: -100px;
  min-width: 150px;
  height: 50px;
  padding: 0 20px;
  font-weight: bold;
  text-align: center;
  font-size: $font-size-m;
  color: $color-light;
  line-height: 50px;
  background: $color-orange;
  border: 0;
  border-radius: 5px;
  transition: all .3s;
  z-index: 3;

  &.show {
    bottom: 50px;
  }
}

.finding_container {
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;

  @include mobile {
    width: 90%;
  }
}

.finding_banner {
  position: relative;
  height: 500px;
  background: url('../img/banner_finding.webp')no-repeat center;
  background-size: cover;
}

.finding_banner_text {
  transform: translate(-50%, 50%);
}

.bg_tri {
  background-image: url('../img/bg_triangle_mosaic.webp');
}

.finding {
  h3 {
    margin-bottom: 20px;
    font-size: $font-size-l;
    color: $color-dark;
    text-align: center;

    @include mobile {
      font-size: 24px;
    }
  }

  p {
    margin-bottom: 10px;
    font-size: $font-size-m;
    color: $color-dark;
    text-align: center;
  }
}

.finding_list li {
  @include frame();
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 50px;

  +li {
    margin-top: 20px;
  }

  .finding_img {
    width: 40%;
    height: 220px;

    @include mobile {
      width: 50%;
    }
  }

  img {
    display: block;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .finding_text {
    flex: 1;
    padding: 15px;
    color: $color-dark;

    h2 {
      font-size: $font-size-l;
      margin-bottom: 15px;
    }

    p {
      text-align: left;
    }
  }
}

.finding_upload_btn {
  display: block;
  width: 200px;
  height: 40px;
  margin: 45px auto 0;
  font-size: $font-size-m;
  text-align: center;
  border: none;
  background: $color-dark;
  color: $color-light;
  cursor: pointer;

  &:hover {
    background: $color-green;
  }
}

.upload_form {
  @include frame();
  display: none;
  padding: 20px;
  margin-top: 30px;
  color: $color-dark;

  .upload_text {
    display: block;
    width: 100%;
    height: 200px;
    margin: 10px auto 20px;
    resize: none;
    border-radius: 5px;

    &:focus {
      border-color: $color-orange;
      outline: none;
    }
  }

  .user_upload_btn {
    display: block;
    margin: 20px auto 0;
    width: 100px;
    height: 30px;
    font-size: $font-size-m;
    background: $color-dark;
    border: none;
    border-radius: 5px;
    color: $color-light;

    &:hover {
      background: $color-orange;
    }
  }
}

.download {
  @include frame();
  display: none;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  border-color: $color-green;

  h4 {
    font-size: $font-size-m;
    color: $color-dark;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 5px;
  }

  a {
    display: inline-block;
    width: 120px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    +a {
      margin-left: 20px;
    }

    &.postcard_01 {
      background-image: url('../img/postcard-01.png');
    }

    &.postcard_02 {
      background-image: url('../img/postcard-02.png');
    }

    &.postcard_03 {
      background-image: url('../img/postcard-03.png');
    }

    @include mobile {
      width: 80px;
    }
  }
}