.kobito_intro {
  margin: 100px auto 30px;
  padding: 20px;
  color: $color-dark;
  background-image: url('../img/bg_dot_grid.webp');
  border-radius: 10px;
  border: 2px solid $color-dark;

  @include mobile{
    margin-top: 160px;
    width: 80%;
  }
}

.fw_b {
  font-weight: bold;
}

.inform_top {
  position: relative;
  margin-bottom: 48px;
  text-align: center;


  &::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    border: 1px dashed $color-dark;
  }

  h2 {
    position: relative;
    width: 200px;
    height: 40px;
    margin:0 auto 20px;
    font-size: $font-size-l;
    color: $color-light;
    font-weight: bold;
    background: $color-green;
    border-radius: 20px;
    border: 2px solid $color-dark;
    box-shadow: 2px 2px 1px $color-orange;
  }

  .intro_img {
    width: 40%;
  }

  p {
    position: absolute;
    max-width: 25%;
    padding: 5px;
    text-align: left;
    border: 2px solid $color-green;
    border-radius: 3px;
    background: #fff;
    font-size: $font-size-s;

    &::before {
      content: '';
      position: absolute;
      width: 80px;
      height: 2px;
      background: $color-green;
      top: 50%;
      transform: translateY(-50%);
    }

    &.inform_height {
      right: 75%;
      top: 25%;

      &::before {
        left: 100%;
      }
    }

    &.inform_live {
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      &::before {
        right: 100%;
      }
    }

    &.inform_feature {
      bottom: 15%;

      &::before {
        left: 100%;
      }
    }
  }

  @include mobile{
    margin-bottom: 50px;

    &::after{
      bottom: -25px;
    }

    .intro_img{
      display: block;
      margin: 0 auto 20px;
    }

    p{
      max-width: 28%;
      width: 28%;
      position: static;
      display: inline-block;
      vertical-align: top;

      &.inform_live{
        transform: translateY(0%);
      }

      &::before{
        display: none;
      }
    }
  }
}

.icon_fav {
  position: absolute;
  display: block;
  top: 7px;
  right: 20px;
  font-size: 35px;
  color: $color-orange;

  i {
    display: none;

    &.active {
      display: block;
    }
  }

  @include mobile{
    right: 10px;
  }
}

.inform_bottom {
  display: flex;

  .intro_more_img {
    width: 40%;
    margin-right: 20px;

    img {
      width: 100%;
    }
  }

  .intro_more_right {
    flex: 1;

    p {
      margin-bottom: 22px;
    }
  }

  @include mobile{
    flex-direction: column;

    .intro_more_img{
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.back_btn {
  display: block;
  width: 150px;
  height: 40px;
  margin: 0px auto 50px;
  color: $color-light;
  font-size: $font-size-m;
  background: $color-green;
  border: 2px solid $color-dark;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background: $color-orange;
  }
}